.messages {
  overflow-y: scroll;
}

.message-card {
  background-color: #efefef;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem 0;
}

.message-card.sender {
  background-color: #efefef;
}

.message-card.recipient {
}

.message-header {
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
}

.message {
  font-size: 1rem;
}
